<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{#        <script src="/lib/jquery.plugin.js"></script>#}
{#        <script src="/lib/jquery.min.js"></script>#}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css"/>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js' defer></script>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    </head>
    <body>
{#        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">#}
{#        <ul class="navbar-nav mr-auto">#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="/registration">Registration<span class="sr-only"></span></a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="/login">Login<span class="sr-only"></span></a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link"  href="/logout">Logout<span class="sr-only"></span></a>#}
{#            </li>#}
{#        </ul>#}
{#            {% if session %}#}
{#                <ul class="navbar-nav navbar-right"><li class="nav-item">Signed in as {{ session.username }}</li></ul>#}
{#            {% endif %}#}
{#        </nav>#}
{#        <h1>ProMan</h1>#}
{#        <div id="boards">Boards are loading...</div>#}
{#        <button id="new_board">Create new board</button>#}
{##}
{#    <button href="/get-boards">load</button>#}
{#    <button id="saveCards">save cards</button>#}
{#    <button href="/save/boards">save cards</button>#}
{#    <p id="xxx"></p>#}

{#        <span align="left">xxx</span>#}
{#        <div align="right">xxx</div>#}
{#        <div align="center">xxx</div>#}

<div class="container">

{#    menu#}
    <div class="row">
        <div class="col-md-6" align="left">
            PROMAN
        </div>
        <div class="col-md-6" align="right">
            <a class="nav-link" href="/login" style="display: inline">Login</a>
            <a class="nav-link" href="/registration" style="display: inline">Registration</a>
            <a class="nav-link"  href="/logout" style="display: inline">Logout</a>
        </div>
    </div>

<div class="container border border-primary">
<div class="row ">
    <div class="col" id="neon"><strong>Pro man</strong></div>
     <div class="col"><button id="c-board" class="btn btn-info btn-sm">Create new board</button></div>
</div>

<div class="my_class row border-top border-primary">
    <div class="col-sm-3 text-left">Title of Board</div>
    <div class="col-sm-3 text-left"><button class="btn btn-info btn-sm" id="btn-card">+ New card</button></div>
    <div class="col-sm-6 text-right"><button id="btn-hide" class="btn btn-info btn-sm"></button></div>

</div>
<div id="to-hide">
<div class='wrapper'>
    <div class='left my_container'>
        <div>You can move these elements between these two containers</div>
        <div>Moving them anywhere else isn't quite possible</div>
    </div>
    <div class='right my_container'>
        <div>There's also the possibility of moving elements around in the same container, changing their position</div>
        <div>This is the default use case. You only need to specify the containers you want to use</div>
    </div>
    <div class='left2 my_container'>
        <div>You can move these elements between these two containers</div>
        <div>Moving them anywhere else isn't quite possible</div>
    </div>
    <div class='right2 my_container'>
        <div>There's also the possibility of moving elements around in the same container, changing their position</div>
        <div>This is the default use case. You only need to specify the containers you want to use</div>
    </div>
    </div>
</div>
</div>
</div>







    <script src="{{ url_for('static', filename='js/new_js_file.js') }}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>