<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ProMan</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96"
          href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<body>

<div class="col-md-12 container">


    <div class="row">
        <div class="col-md-6" align="left">
            PROMAN
        </div>
        <div class="col-md-6" align="right">
            <a class="nav-link" href="/login" style="display: inline">Login</a>
            <a class="nav-link" href="/registration" style="display: inline">Registration</a>
            <a class="nav-link" href="/logout" style="display: inline">Logout</a>
        </div>
    </div>


    <div id="header" class="row">
        <div class="col-md-4" id="neon">
            <strong>Pro man</strong>
        </div>
        <div class="col-md-8">
            <button id="c-board" class="btn btn-info btn-sm">
                Create new board
            </button>
        </div>
    </div>


    <div id="boardsList" class="col-md-12">


    </div>
</div>

{#<div class="modal">#}
{#    <div class="overlay"></div>#}
{#    <div class="modal_content">#}
{#        <!-- Dynamic Section -->#}
{#        <h2>Hey Awesome Modal!</h2>#}
{#        <p style="text-align: center;">#}
{#            Cupcake ipsum dolor sit amet pie brownie. Carrot cake wafer I love pie bear claw. Sweet cake cheesecake#}
{#            candy canes carrot cake marshmallow. Sweet roll I love sweet fruitcake donut chupa.#}
{#        </p>#}
{#        <!-- End of Dynamic Section -->#}
{#        <button title="Close" class="close_modal">#}
{#            <i class="fas fa-times"></i>#}
{#        </button>#}
{#    </div>#}
{#</div>#}



<div id="new_board_modal" class="modal fade modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content overlay">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Board's name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" id="inputBoardName" name="inputBoardName" class="form-control"
                       placeholder="Boards name" required autofocus>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close_modal" data-dismiss="modal">Close</button>
                <button id="save_btn" type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>





<script src="{{ url_for('static', filename='js/new_js_file.js') }}" defer></script>
</body>
</html>


